src/main/java/com/heq/no3_parese_custom_element/conf/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.heq.com/schema/user"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
            elementFormDefault="qualified" targetNamespace="http://www.heq.com/schema/user">
    <xsd:element name="user">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="userName" type="xsd:string"/>
            <xsd:attribute name="email" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>